VITE_SUPABASE_URL=https://emqplowinwfqaqltvyho.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtcXBsb3dpbndmcWFxbHR2eWhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTE0NzMsImV4cCI6MjA5MDAyNzQ3M30.sB5bYJPkfYvaHOCMR-5PoEeJOhIumJ-SafnwrM9ruV4
VITE_API_URL=http://localhost:3001/api
