MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/voice-tasks
GROQ_API_KEY=gsk_...
SUPABASE_URL=https://emqplowinwfqaqltvyho.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJ...
PORT=3001
NODE_ENV=development
CLIENT_URL=http://localhost:5173
